<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
 
		<rules>
 
		<rule name="OrgPage" stopProcessing="true">
 
		<match url="^(.*)$" />
 
		<conditions logicalGrouping="MatchAll">
 
		<add input="{HTTP_HOST}" pattern="^(.*)$" />
 
		<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
 
		<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
 
		</conditions>
 
		<action type="Rewrite" url="index.php/{R:1}" />
 
		</rule>
 
		</rules>
 
		</rewrite>

        <handlers>
            <remove name="PHP-5.6-7i24.com" />
            <remove name="PHP-5.5-7i24.com" />
            <remove name="PHP-5.4-7i24.com" />
            <remove name="PHP-5.3-7i24.com" />
            <remove name="PHP-5.2-7i24.com" />
            <add name="PHP-5.5-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.5\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
