<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="baidu-site-verification" content="NJQumO6qhk" />
<meta name="360-site-verification" content="5887bd6e400f9690c48dbf566823882f" />
<meta name="keywords" content="拍拍贷第三方投标软件,拍拍贷第三方投标工具,拍拍贷自动投标神器,拍拍贷第三方自动投标"/>
<meta name="description" content="金雕猎手是拍拍贷第三方自动投标工具，利用拍拍贷OpenApi进行智能投标，是拍拍贷自动投标神器。金雕猎手是拍拍贷第二届魔镜杯冠军作品，采用独特的机器学习算法，利用历史数据训练出智能的风控策略，是魔镜系统的有效补充，品质绝对值得信赖！拍拍贷自动投标软件哪家好？请来p2phunter.cn找金雕！金雕猎手，以最专业的水平，为你提供最贴心的拍拍贷自动投标工具。" />
<include file="./Application/Home/View/default/common_resource_and_setting.html" />
<link href="__ROOT__/Application/Home/View/default/css/base.css" rel="stylesheet" type="text/css">
</head>

<body >
    <div class="header">
        <div class="col clearfix">
            <a href="http://www.p2phunter.cn" ><img src="__ROOT__/Public/pic/logo.png" width="139" height="34" alt="keywords"></a>
            <p><img src="__ROOT__/Public/pic/question.png" width="20" height="20" alt=""><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=83b06873f726db102851c8d1f4e4a28604a3a91335d8e4c3f325d51ca7f55284"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="拍拍贷投标技术交流QQ: 579014066" title="投标技术交流:QQ 579014066"></a></p>
        </div>
    </div>
    <div class="banner">
        <div class="col">
            <h1>拍拍贷自动投标专家</h1>
            <h2>海量历史数据智能分析，为你的投资保驾护航！</h2>
            <p>在大数据面前，机器学习比人类更有优势，我们利用数据可视化分析，从走完全款的历史数据中，剖析借款人资料与老赖之间的内在概率逻辑，并用机器学习算法，学习出若干投资策略，帮助拍拍贷投资人规避投资雷区。</p>
            <h3>无需注册 闪电投标 </h3>
        </div>
    </div>
    <div class="regsiter">
        <div class="col">
          
          
            <h2>现在就开启你的智能投资之旅吧！</h2>
            
            <ul class="regsiter-list clearfix">
                <li>
                    <div class="item">
                        <img src="__ROOT__/Public/pic/auth.png" height="100" alt="">
                        <h3>{$loginAction}</h3>
                        <p class="small"></p>
                        <p>{$loginTips}</p>
                        <a href="{$loginUrl}" target="_top" >{$loginButton}</a>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="__ROOT__/Public/pic/register.png" height="100" alt="">
                        <h3>注册拍拍贷</h3>
                        <p class="small"></p>
                        <p>如果没有拍拍贷账户，请先注册</p>
                        <a href="{$regUrl}" target="_blank" >立即注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="step">
        <div class="col clearfix">
            <ul>
                <li class="item1">
                    <h3>总是抢不到标？</h3>
                    <p>只需要授权登录金雕猎手，开启投标策略，从此告别抢标，躺着赚钱，金雕猎手不断优化投标技术，持续提高投标速度，好标不再错过！</p>
                </li>
                <li class="item2">
                    <h3>投资信用标怕坏账？</h3>
                    <p>人工智能算法为你保驾护航，金雕猎手通过历史数据机器学习，为你提供高收益、低逾期的可靠策略，避开雷区，安全投资</p>
                </li>
                <li class="item3">
                    <h3>不知道如何设置策略合适？</h3>
                    <p>策略那么多，我该怎么设置？不用着急，估算一下你每日投标量，智能设置一键完成，为你量身定做最优策略组合。</p>
                </li>
                <li class="item4">
                    <h3>金雕猎手和拍拍贷什么关系？</h3>
                    <p>金雕猎手是经拍拍贷官方授权、安全可靠的第三方投标系统，可以使用拍拍贷账户直接授权登陆，安全又省心。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="step">
      <div id="summary">
        <p>金雕猎手2017年6月15日上线</p>
        <p>注册用户<span>{$user_count}</span>个，活跃用户：<span>{$curent_user_count}</span>个</p>
        </div>
  
    <div>
  </div>
  <include file="./Application/Home/View/default/footer.html" />
  </div>
</body>

</html>


