<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <link rel="stylesheet" href="__ROOT__/Public/lib/bootstrap/css/bootstrap.css">
<include file="./Application/Home/View/default/common_resource_and_setting.html" />
</head>

<body >
<include file="./Application/Home/View/default/header.html" />
<div id="main" class="bodyblock">
  <div id = "content" class="contentblock" >
  <div class="ana_content">
     <p>我们从金雕2018年前三个季度的投标中，抽取数十万信用标进行分析，希望给投资者做个参考。需要注意的是，本数据只是金雕采集到的部分数据，数据分布和全数据分布不同，分析结果仅供参考。</p>


<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_10_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_12_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_14_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_17_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_19_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_21_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_23_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_25_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_26_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_27_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_28_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_29_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_30_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_31_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_32_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_33_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_34_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_35_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_36_1.png"/></div>
<div class="ana_pic_row"><img  class= "ana_pic" alt="" src="__ROOT__/Public/pic/output_37_1.png"/></div>

</div>
</div>
</div>
<include file="./Application/Home/View/default/footer.html" />
</body>


</html>
<script>
  $(document).ready(function(){
  /* styling nav status */
   $("ul.nav.nav-pills.nav-justified li:eq(3)").addClass("active");
  });
</script>

