<div class="footer">
  <div class="footer_block">
    <div class="footer_top_space"></div>
    <div class="footer_main">
      <div class="footer_column">
        <a href="__ROOT__/home/about"><div class="footer_item_header">关于我们</div></a>
        <a href="__ROOT__/home/about"><div class="footer_item">关于金雕猎手</div></a>
        <a href="__ROOT__/home/about"><div class="footer_item">金雕猎手理念</div></a>
      </div>
      <div class="footer_column">
        <a href="__ROOT__/home/help"><div class="footer_item_header">帮助中心</div></a>
        <a href="__ROOT__/home/help"><div class="footer_item">常见问题</div></a>
        <a href="__ROOT__/home/help"><div class="footer_item">联系方式</div></a>
      </div>
      <div class="footer_column">
        <div class="footer_item_header">友情链接</div>
        <a href="http://www.ppdai.com/regt/szlemail" target="_blank"  ><div class="footer_item">拍拍贷</div></a>
        <a href="https://ai.ppdai.com" target="_blank" ><div class="footer_item">魔镜杯</div></a>
      </div>

      
      
    </div>
    <div id="footer_register_row"><div id="footer_register">注册拍拍贷</div><div id= "footer_login">授权登录</div></div>
    <div id="footer_icp"i><a href = "http://www.miitbeian.gov.cn" target = "_blank">  金雕猎手 </div>
    
  </div>
</div>
