<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <link rel="stylesheet" href="__ROOT__/Public/lib/bootstrap/css/bootstrap.css">
<include file="./Application/Home/View/default/common_resource_and_setting.html" />
</head>

<include file="./Application/Home/View/default/header.html" />
<body >
<div id="main" class="bodyblock">
  <div id = "content" class="contentblock" >
    <div class="spaceholder"></div>
    <div class="KFDH">金雕猎手是干吗用的？</div>
    <div class="KFDH-DH">
<p>金雕猎手是基于拍拍贷OpenAPI的第三方自动投标软件，解决了以下拍拍贷投资者的痛点</p>
<p>1. 看标累</p><p>有过手工投拍拍贷高息信用标经验的用户绝不会忘记那种感觉，一个一个标打开，看学历，看认证，看借款次数，逾期情况，看负债曲线......，太累了！金雕猎手根据历史逾期数据分析，给出若干策略，只需一键开启，即可躺着赚钱，再也不用投标投到手抽筋。

</p><p>2. 抢标难</p><p>好不容易看到一个好标，还没来得及投就满了。随着OpenAPI 的开放，自动投标已经是不二选择。金雕猎手是一款优秀的拍拍贷第三方自动投标软件，投标迅速，助你好标秒枪到手。

</p><p>3. 投标盲目</p><p>
</p><p>投资年化20%的标，期限6个月，坏账率1%，预期收益率到底是多少？ 很多人搞不清，干脆拿收益率减去坏账率，这其实大错特错了。金雕猎手每个策略都给出了预期收益率，这一收益率是根据历史逾期率精确计算的，是你投资最重要的参考之一，让你的投资理性清晰。

同时金雕猎手针对每个策略给出设置建议，通常如果投资者资金量少，只要打开高收益率标就可以了，如果资金量大，则可以打开一些收益率稍低，出标率较高的标。当然智能设置会帮你干这些事。</p>

</div><div class="KFDH">
怎样才能成为金雕猎手
</div>
<div class="KFDH-DH">
<p>首先你必须有一个拍拍贷账户，如果你还没有可以先去<a href="http://www.ppdai.com/regt/szlemail" target="_blank" >注册拍拍贷</a>，如果你已有拍拍贷账户，可以在首页点击授权登录，即可进入金雕猎手设置系统，在策略设置里，打开选定策略即可开始投标。金雕猎手采用拍拍贷授权登录，无需额外注册。
</p>
</div>

<div class="KFDH">
拍拍贷官方自带自动投标，为何要用金雕猎手？
</div>
<div class="KFDH-DH">
<p>没错，拍拍贷自己也有自动投标，可以自定策略自动投标。但是其存在如下几个问题：</p><p>1. 用户多，服务器负载大，投标慢。</p><p>2. 拍拍贷作为官方必须从平台整体角度考虑兼顾投资者和借款人利益，而金雕猎手专注于拍拍贷投资者的利益。</p><p>3. 拍拍贷官方投标策略无法满足投资用户多样性的需求，金雕猎手专注于高息六月信用标，这种标量大，周期短，可以快速回归检测逾期率，及时调整投资策略。金雕猎手作为一个年轻的平台，投资快，投标准，设置简单。无需注册，授权登录后一键开启。
</p>
</div>
<div class="KFDH">
金雕猎手如何收费
</div><div class="KFDH-DH">
<p>目前金雕猎手从2017年11月1日开始收费，费率为投标额0.2%</p>
</div>
<div class="KFDH">
金雕猎手和拍拍贷是什么关系
</div>
<div class="KFDH-DH">
<p>金雕猎手是拍拍贷开放平台授权认证的第三方投标软件，除此之外没有任何关系。金雕猎手不承担拍拍贷任何责任，包括但不限于：逾期催收、提现困难、平台倒闭等。如果你不信任拍拍贷，那么金雕猎手暂时也不适合您使用。BTW，拍拍贷已经度过了第十个周年，如今依然生机勃勃，如果这样的平台也无法让你信任，恐怕没有哪个P2P平台更值得你信任了。
</p>
</div>

<div class="KFDH">
拍拍贷不还钱的人多吗？
</div>
<div class="KFDH-DH">
<p>拍拍贷是一个纯信用撮合平台，如果借款人一直赖帐不还钱，投资人就会亏损，俗称坏账！ 如果你问我拍拍贷不还钱的人多吗？我说很多！可是为什么我们还推荐拍拍贷？虽然老赖很多，可是好人更多！老赖所占比例就小了。尤其是经过我们金雕猎手策略过滤之后 ，平均坏账率降至0.5%以下，完全可以用收益覆盖风险。
</p>
</div>

<div class="KFDH">
拍拍贷可信吗？
</div>
<div class="KFDH-DH">
<p>拍拍贷是一个纯信用撮合平台，依靠收取交易手续费赚钱，平台风险显著低于其他P2P平台。如今拍拍贷已经走过了10周年，有红杉资本和诺亚财富投资，是国内第一家P2P平台。这样有资历，有财力，有原则的公司，如果你还觉得不可信，我也没办法！
</p>
</div>
    <div class="KFDH">联系我们</div>
    <div class="KFDH-DH">
    <div class="KFDH-DH2">我们竭诚为您服务</div>
    <div class="KFDH-DH2">QQ群： 579014066</div>
    <!--  <div class="KFDH-DH2">投诉建议请发邮件到：</div> -->
    </div>

    

  </div>
</div>
<include file="./Application/Home/View/default/footer.html" />
</body>


</html>
<script>
  $(document).ready(function(){
  /* styling nav status */
   $("ul.nav.nav-pills.nav-justified li:eq(4)").addClass("active");
  });
</script>
