<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<include file="./Application/Home/View/default/common_resource_and_setting.html" />
<link href="__ROOT__/Application/Home/View/default/css/base.css" rel="stylesheet" type="text/css">
<link href="__ROOT__/Application/Home/View/default/css/footer.css" rel="stylesheet" type="text/css">
</head>

<body >
    <div class="header">
        <div class="col clearfix">
            <a href="http://www.p2phunter.cn" ><img src="__ROOT__/Public/pic/logo.png"  width="139" height="34" alt="keywords"></a>
            <img src="__ROOT__/Public/pic/question.png" width="20" height="20" alt=""> 投资者交流群QQ: 579014066<span class="it"></span></p>
        </div>
    </div>


    <div class="regsiter">
        <div class="col">
          
          
            <h2>现在就开启你的智能投资之旅吧！</h2>
            
            <ul class="regsiter-list clearfix">
                <li>
                    <div class="item">
                        <img src="__ROOT__/Public/pic/auth.png" height="100" alt="">
                        <h3>登录授权</h3>
                        <p class="small"></p>
                        <p>如果已有拍拍贷账户，请登录授权</p>
                        <a href="https://ac.ppdai.com/oauth2/login?AppID=8eda97b423dd4a33aeaf0d6dddc0aac3&ReturnUrl=http://www.p2phunter.cn/home/user/ppd" target="_top" >立即登录</a>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <img src="__ROOT__/Public/pic/register.png" height="100" alt="">
                        <h3>注册拍拍贷</h3>
                        <p class="small"></p>
                        <p>如果没有拍拍贷账户，请先注册</p>
                        <a href="{$regUrl}" target="_blank" >立即注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div>
        <include file="./Application/Home/View/default/footer.html" />
    </div>
</body>


</html>
