<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{$typeName} 扫码支付</title>

    <script type="text/javascript">
  var ThinkPHP = window.Think = {
          "ROOT"   : "__ROOT__",
          "APP"    : "__APP__",
          "PUBLIC" : "__PUBLIC__",
          "DEEP"   : "{:C('URL_PATHINFO_DEPR')}",
          "MODEL"  : ["{:C('URL_MODEL')}", "{:C('URL_CASE_INSENSITIVE')}", "{:C('URL_HTML_SUFFIX')}"],
          "VAR"    : ["{:C('VAR_MODULE')}", "{:C('VAR_CONTROLLER')}", "{:C('VAR_ACTION')}"]
  }
      var publicurl = "__PUBLIC__";
    var PUBLIC= "__public__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";
  </script>
    <link href="__ROOT__/Application/Home/View/default/css/wechat_pay.css" rel="stylesheet" media="screen">
</head>

<body>
<div class="body">
    <h1 class="mod-title">
        <span class="ico_log ico-{$type}"></span>
    </h1>

    <div class="mod-ct">
        <div class="order">
        </div>
        <div class="amount" id="money">￥{$price}</div>
        <div class="qrcode-img-wrapper" data-role="qrPayImgWrapper">
            <div data-role="qrPayImg" class="qrcode-img-area">
                <div class="ui-loading qrcode-loading" data-role="qrPayImgLoading" style="display: none;">加载中</div>
                <div style="position: relative;display: inline-block;">
                    <img id='show_qrcode' alt="加载中..." src="" width="210" height="210" style="display: block;">
                    <img onclick="$('#use').hide()" id="use" src="__ROOT__/home/wxpay/qrcode?data={$qrurl}"
                         style="position: absolute;top: 5%;left: 5%;width:220px;height:220px;margin-left: -16px;margin-top: -16px">
                </div>
            </div>


        </div>
        <div class="time-item" id="msg">
            <h1>二维码过期时间</h1>
            <strong id="hour_show">0时</strong>
            <strong id="minute_show">0分</strong>
            <strong id="second_show">0秒</strong>
        </div>

        <div class="tip">
            <div class="ico-scan"></div>
            <div class="tip-text">
                <p>请使用{$typeName}扫一扫</p>
                <p>扫描二维码完成支付</p>
            </div>
        </div>

        <div class="detail" id="orderDetail">
            <dl class="detail-ct" id="desc" style="display: none;">

                <dt>状态</dt>
                <dd id="createTime">订单创建</dd>

            </dl>
            <a href="javascript:void(0)" class="arrow"><i class="ico-arrow"></i></a>
        </div>

        <div class="tip-text">
        </div>


    </div>
    <div class="foot">
        <div class="inner">
            <p>手机用户可保存上方二维码到手机中</p>
            <p>在{$typeName}扫一扫中选择“相册”即可</p>
            <a href="__ROOT__/home/user"><div class="tip-text">返回用户中心</div></a>
        </div>
    </div>

</div>
<!--注意下面加载顺序 顺序错乱会影响业务-->
<script type="text/javascript" src="__ROOT__/Public/js/jquery.js"></script>
<!--[if lt IE 8]>
<script src="./js/json3.min.js"></script>
<![endif]-->
<script>
    var user_data ={$user_data};
    
</script>
<script>
$(document).ready(function(){
	var url = "__ROOT__/home/wxpay/qry/tid/" + user_data.tradeNo;
	var timeout = user_data.timeout;
	var timer = setInterval(function(){
		$.post(url,
		    {}, 
		    function(data,status){
		    	timeout--;
		    	hour = Math.floor(timeout/3600);
		    	minute = Math.floor(timeout/60%60);
		    	second = timeout%60;
		    	$("#hour_show").html(hour + "-时");
		    	$("#minute_show").html(minute + "分");
		    	$("#second_show").html(second + "秒");
		    	if(timeout < 1 || data == "SUCCESS"){
		    		clearInterval(timer);
		    		location.href = ROOT + "/home/wxpay/recheck?pay_no="
		    				+ user_data.tradeNo
		    				+ "&money=" + user_data.money
		    				+ "&pay_id=" + user_data.pay_id
		    				+ "&pay_time=" + user_data.pay_time;
		    	}
	
		    });
	},
	1000)
	});//document_ready end
</script>
</body>
</html>
